/Users/newjcc/Documents/Coding/Python/Tutorials/TechWithTim/PyGameBasics/bin/*
!/Users/newjcc/Documents/Coding/Python/Tutorials/TechWithTim/PyGameBasics/bin/*.py
!/Users/newjcc/Documents/Coding/Python/Tutorials/TechWithTim/PyGameBasics/bin/*.png